 h1{

  font-family: verdana;
  color:black;
}

 h2{
  font-family: verdana;
  color:black;
}

p{
 font-family: verdana;
}

body {
 background-image: url("https://static.vecteezy.com/system/resources/previews/000/109/440/non_2x/free-vector-grunge-textura-background.jpg")   
 background-color: #33ccff;
}
