 h1{

  font-family: verdana;
  color:black;
}

 h2{
  font-family: verdana;
  color:black;
}

p{
 font-family: verdana;
}

body {
 background-image: url("https://png.pngtree.com/thumb_back/fh260/back_pic/00/15/30/4656e81f6dc57c5.jpg")   
 background-color: #33ccff;
}
